# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\goWorkSpace\src\TodoLists\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
